
.dataInput__container{
    display: flex;
    flex-flow: column;
    position: fixed;
    width: 18rem;
    height: 20rem;
    background-color: #FFFFFF;	
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
    border-radius: 3px;	
    padding-top:1rem;
}

.data-input__label{
    font-size: 1.3rem;
    font-weight:bold;
    color: #4A4A4A;
}

.data-input__fetch-btn{
    border-radius: 3px;	
    background-color: #007CBB;	
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.25);
    width: 8rem;
    height: 3rem;
    align-self: center;
    color: white;
}

.data-input__history-btn{
    border-radius: 3px;	
    background-color: rgb(139, 15, 15);	
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.25);
    width: 8rem;
    height: 3rem;
    align-self: center;
    color: white;
}


.data-input__token-inp{
    width: 95%;
}

.data-input__date-inp{
    width: 95%;
}

@media only screen and (max-width: 970px){
    .dataInput__container{
        height: 15.3rem;
        width:100%;
        position: relative;
    }
    .data-input__token-inp{
        width: 18rem;
    }
    .data-input__date-inp{
        width: 18rem;
    }
    .data-input__label{
        font-size: 1.1rem
    }
    .data-input__fetch-btn{
        width: 6.5rem;
        height: 2.5rem;
    }
    .data-input__history-btn{
        width: 6.5rem;
        height: 2.5rem;
    }
}

/* History.js */

.history__selection-container{
    border:1px solid;
    padding: 0.5rem;
    margin-top: 0.8rem;
    font-size: 1rem;
    background: darkgrey;
    color: white;
}

.history__normal-container{
    border:1px solid;
    padding: 0.5rem;
    margin-top: 0.8rem;
    font-size: 1rem;
}

.history__selection-container:hover{
    cursor: pointer;
}

.history__normal-container:hover{
    cursor: pointer;
}

.history__title{
    font-size: 1.1rem;
    font-weight: 600;
}

