.summaryCard__card{
    width: 15.6rem;
    height: 15.6rem;
    border-radius: 3px;	
    background-color: #FFFFFF;	
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
    text-align: center;
}

.summaryCard__card-title{
    height: 5rem;	
    color: #4A4A4A;	
    font-size: 1.9rem;	
    font-weight: bold;	
    line-height: 2.1rem;	
    text-align: center;
}

.summaryCard__card-description{
    color: #4A4A4A;	
    font-size: 1rem;	
    line-height: 1.1rem;	
    text-align: center;
}