.summaryList__container{
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap

}

.summaryCard__card{
    width: 15.6rem;
    height: 15.6rem;
    border-radius: 3px;	
    background-color: #FFFFFF;	
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
    text-align: center;
    margin-bottom: 1rem;
}

.summaryCard__card-title{
    height: 5rem;	
    color: #4A4A4A;	
    font-size: 3.5rem;	
    font-weight: bold;		
    text-align: center;
}

.summaryCard__card-description{
    color: #4A4A4A;	
    font-size: 1rem;	
    line-height: 1.1rem;	
    text-align: center;
}

@media only screen and (max-width: 970px){
    .summaryCard__card{
        width: 12rem;
        height: 12rem;
    }

    .summaryCard__card-title{       
        font-size: 2.8rem;	
    }
    
    .summaryCard__card-description{
        font-size: 1rem;
    }
}