
* {
    box-sizing: border-box;
}

html{
    height: 100%;
}

body {
    height: 100%;
}

.background {
    background: #f4f4f4;
    filter: grayscale(40%);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}

.App {
    height: 100vh;
    display: grid;
    grid-template-columns: 300px auto;
    grid-template-rows: 70px auto;
    grid-template-areas:
            'navbar navbar'
            'sider content'
}

.navbar {
    grid-area: navbar;
}

.content{
    grid-area: content;
    padding: 1rem;
}

.sider{
    grid-area: sider;
    padding: 1rem;
    text-align: center
}


@media only screen and (max-width: 970px){
    .App {
        grid-template-columns: auto;
        grid-template-rows: 70px 250px auto;
        grid-template-areas:
                'navbar'
                'sider'
                'content'
    }

    .sider{
        width: 100%;
    }
}

/* shared style */

.section__header{
    color: #000000;	
    font-size: 2.5rem;	
    font-weight: bold;
    padding-top: 1rem;
}
